* {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    margin: 0;
    padding: 0;
}
 h1 {
    color: black;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    
 }
 h2 {
    color: white;
    font-style: italic;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    font-family: Calligrapher;
    padding: 25px;
    
 }
 h3 {
    color: lightcoral;
 }
 h4 {
    font-style: italic;
    color: grey;
    margin-bottom: 20px;

 }
 p {
    color: black;
    font-size: medium;
    font-family: cursive;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 70px;
    padding: 2%;
    border: 3px solid black;
    border-radius: 20px;
 }
 li {
    color: white;
    background-color: black;
    text-align: center;
    font-family: cursive;
    list-style-type: none;
    width: 50%;
    height: 5%;
    margin: 1% auto;
    padding: 2%;
    border: 2px solid black;
   
 }
 a {
    color: black;
    font-size: 40px;
    margin: 195px;
    
 }

 .navbar ul{
   display: flex;
   list-style-type: none;
   background-color: black;
    
 }
 .navbar a{
   color: plum;
   font-size: medium;
   text-decoration-line: unset;
   margin: auto;
 }
 .navbar a:hover{
    color: grey;
 }
 .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5px;
    margin: 5px;
    padding: 3px;
}
.links ul {
   display: flex; 
   margin: auto;
}

@media (max-width: 500px) {
   h2 {
     font-size: 1rem;
     color: black; 
   }
   p {
     padding: 1%;
     color: white;
     font-size: 80%;
   }
   h1 {
      font-size: 1rem;
      font-style: normal;
   }
}
@media (min-width: 600px) {
   h2 {
   font-size: 2rem;
   color: grey;
}
p {
   padding: 3%
   font-size: 90%;
   color: white;
}
h1 {
   font-size: 2rem;
   font-style: oblique;
}